.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr minmax(20px, 3%);
  grid-template-columns: minmax(60px, 4rem) minmax(60px, 15rem) 4fr;
  grid-template-areas:
    "sidebar code code"
    "footer footer footer";
}

// .container-hide-code {
//   grid-template-areas:
//     "sidebar gallery gallery"
//     "footer footer footer";
// }

//grid-template-columns: minmax(100px, 1fr);

.footer {
  grid-area: footer;
  background-color: #007acc;
}

.folder {
  grid-area: folder;
  background-color: green;
}

.code {
  grid-area: code;
  background-color: #1e1e1e;
  overflow: auto;
}

.gallery {
  height: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: stretch;

  & span {
    display: inline-block;
    margin: 0 2px;
    //margin-left: 10px;
    //font-size: 1rem;
  }


  & span:first-child {
    margin-left: 3rem;

  }

  & span:last-child {
    margin-right: 1rem;
  }

}


.footer-numbers {
  font-size: 0.8rem;
}

.footer-spacer{
  flex: 1 0 2vw;
}